:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-Text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #662e2f42;
  --hero-background-color: #b32e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

body {
  background-color: var(--white-background-color);
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-brand-color);
}
.logo-dark-color {
  color: var(--dark-color);
}
.logo-light-color {
  color: var(--light-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.nav:hover,
.nav:focus,
.nav:active {
  color: var(--pressed-state-color);
}
.address-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.address-list-item:hover,
.address-list-item:focus,
.address-list-item:active {
  color: var(--pressed-state-color);
}
.hero {
  background-color: var(--dark-color);
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  text-align: center;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}
.filters-button {
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  text-align: center;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
.filters-button:hover,
.filters-button:focus,
.filters-button:active {
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
}
.page-title {
  color: var(--white-background-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  text-align: center;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.page-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}
.our-team-section {
  background-color: var(--light-color);
}
.team-card {
  background-color: var(--white-background-color);
  text-align: center;
}
.footer {
  background-color: var(--dark-color);
}
